{
  "presets": [
    [
      "@babel/preset-env",
      { "modules": "commonjs", "exclude": ["transform-regenerator"] }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}
